@media (max-width: 768px) {
  body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }

  nav {
    display: flex;
    flex-direction: row-reverse;
    background-image: url(./images/image1.png);
    background-repeat: no-repeat;
    height: 74px;
    overflow: hidden;
  }

  .headline-section {
    width: 100%;
  }

  .my-name {
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
  }

  .detail {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }

  .head-button {
    background-color: #1a2236;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    height: 50px;
    margin-left: 8%;
    margin-right: 8%;
  }

  .work {
    margin-top: 20px;
  }

  .geometry {
    width: 100%;
  }

  .work h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card img {
    width: 100%;
  }

  .project {
    background-color: #1a2236;
    height: 156px;
  }

  .project p {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-style: normal;
    font-weight: 300;
    padding-left: 19px;
    padding-top: 20px;
    font-size: 20px;
  }

  .language {
    padding-left: 10px;
  }

  .language li {
    display: inline;
    float: left;
    list-style: none;
    margin-left: 10px;
    background-color: #98dede;
  }

  .material-icons {
    width: 10.57px;
    height: 15.35px;
    padding: 0 12px;
  }

  .btn {
    display: flex;
    background-color: #1a2236;
    color: #fff;
    width: 190px;
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
  }

  .btn p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
    padding-left: 0;
  }

  .about-me h2 {
    width: 50%;
    height: 50px;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: #1a2236;

    /* margin-top: 10px; */
  }

  .about-me p {
    color: #1a2236;
    font-style: normal;
    width: 100%;
    height: 126px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 2px;
  }

  .about-btn {
    background-color: #1a2236;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
  }

  .rectangle {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 12px;
  }

  .languages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 289px;
    background: #1c528a;
    color: #fff;
    gap: 21px;
    padding-top: 30px;
    background-image: url("./images/hash.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  .languages > h3 {
    width: 100%;
    height: 30px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    margin-left: 30px;
  }

  .languages > ul {
    width: 100%;
    height: 135px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.0525em;
    list-style-type: disc;
    margin-left: 50px;
  }

  .framework {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 289px;
    background: #e2505c;
    color: #fff;
    gap: 21px;
    padding-top: 30px;
    background-image: url("./images/Rectangle.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .framework > h3 {
    width: 100%;
    height: 30px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    margin-left: 30px;
  }

  .framework > ul {
    width: 100%;
    height: 135px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.0525em;
    list-style-type: disc;
    margin-left: 50px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 289px;
    background: #febf52;
    color: #fff;
    gap: 21px;
    padding-top: 30px;
    background-image: url("./images/bulb.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .skills > h3 {
    width: 100%;
    height: 30px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    margin-left: 33px;
  }

  .skills > ul {
    width: 100%;
    height: 135px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.0525em;
    list-style-type: disc;
    margin-left: 50px;
  }

  .about > button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #1a2236;
    border: 1px solid #1a2236;
  }

  .btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #e2505c;
    border: 1px solid #e2505c;
    margin-top: 15px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    background-image: url(./images/image1.png);
    background-repeat: no-repeat;
    margin-top: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    margin-left: 20px;
  }

  .form-section > h1 {
    width: 100%;
    height: 50px;
    left: 16px;
    font-family: "Playfair Display", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    padding: 1px;
    margin-top: 115px;
    gap: 15px;
    margin-left: 20px;
  }

  .form-section > p {
    width: 288px;
    height: 64px;
    font-family: 'Poppins', sans-serif;
    left: 16px;
    margin-top: 1px;
    color: #1a2236;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    gap: 15px;
    margin-left: 20px;
  }

  form > input {
    height: 52px;
    padding-top: 4px;
    padding-bottom: 33px;
    padding-left: 16px;
    border-radius: 8px;
  }

  #cbn-b {
    width: 100%;
    height: 43px;
    left: 40px;
    top: 4652px;
    background: #1a2236;
    color: #fff;
    margin-bottom: 40px;
  }

  .footer {
    background: #1a2236;
    cursor: pointer;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }

  #arrow {
    float: right;
    margin-left: 170px;
    color: #92dcdc;
    padding-top: 0;
    align-items: center;
  }

  #cv {
    height: 24px;
    width: 100%;
    left: 16px;
    border-radius: nullpx;
    color: #92dcdc;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 1px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .socialicons {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 23px;
    width: 100%;
    left: 1px;
    border-radius: 8px;
    padding-top: 0;
    margin-bottom: 30px;
  }

  #message {
    border-radius: 8px;
    padding-left: 16px;
  }

  .geo-image,
  #dt-works,
  #dot-image,
  .desktopmenu {
    display: none;
  }

  #menu {
    height: 100vh;
    background-color: #1c528a;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/image_geometry_menu_2.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: none;
  }

  .menuhref {
    padding-top: 90px;
  }

  .menudots {
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
    width: 100%;
    padding-right: 170px;
  }

  .mobile-union {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 400px;
    padding-top: 10px;
  }

  #menu a {
    display: block;
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    top: 0;
  }

  body {
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

  #menu,
  #hamburger,
  .work,
  #teal {
    display: none;
  }

  #hello {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .desktopmenu ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
    text-align: center;
    margin-left: 110px;
  }

  .headline-section {
    display: flex;
    padding-left: 100px;
  }

  .my-name {
    font-family: "Playfair Display", sans-serif;
    font-size: 110px;
    font-weight: 400;
    line-height: 110px;
    letter-spacing: 0;
    margin-bottom: 14px;
  }

  .detail {
    font-size: 14px;
    font-weight: 400;
  }

  .head-button {
    width: 30%;
    height: 70px;
    background-color: #1a2236;
    border-radius: 0;
    padding-left: 20px;
    color: #fff;
  }

  #dot-image {
    position: absolute;
    bottom: 0;
    left: -180px;
    width: 175px;
    height: 175px;
    background-repeat: no-repeat;
  }

  .geodiv {
    position: relative;
    display: flex;
    height: 115vh;
    background-image: url(./images/image-geometry_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 200px;
  }

  .about > h2 {
    width: 295px;
    height: 110px;
    left: 834px;
    top: 3074px;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
    color: #1a2236;
    margin-top: 50px;
    margin-bottom: 15px;
  }

  #dt-works {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  #dot-image1 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 0;
    left: -180px;
  }

  #dt-works h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 110px;
    font-weight: 400;
    display: flex;
    flex-direction: column-reverse;
    transform: rotate(-90deg);
    position: absolute;
    top: 125px;
    left: -3%;
    padding: 0;
  }

  .pjs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 52px;
    position: relative;
  }

  .pj-1 {
    width: 65vw;
    min-height: 558px;
    background-image: url(./images/card-one.svg);
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .pj-1 h3,
  .pj-2 h3 {
    font-weight: 700;
    color: #fff;
  }

  .pj-1 h3 {
    font-size: 60px;
  }

  .pj-2 h3 {
    font-size: 40px;
  }

  .pj-1-div {
    background-color: rgba(26, 34, 54, 0.95);
    height: 64%;
    padding-left: 60px;
  }

  .pj1-btns,
  .pj2-btns {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px 0;
  }

  .pj1-btns button,
  .pj2-btns button {
    background-color: #98dede;
    font-size: 20px;
    padding: 12px 20px;
    border: none;
  }

  .see-pj {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 12px 20px;
  }

  .see-pj span {
    margin-left: 15px;
  }

  .pj-2 {
    width: 40vw;
    position: relative;
    height: 350px;
  }

  .ig1 {
    position: absolute;
    background-image: url(./images/card-two.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 280px;
    width: 350px;
    left: -51%;
    top: 65%;
  }

  .ig2 {
    position: absolute;
    background-image: url(./images/image-geometry_2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 76%;
    height: 340px;
    left: -76%;
    top: -15%;
  }

  .ig3 {
    position: absolute;
    background-image: url(./images/card-three.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 74%;
    height: 465px;
    left: -51%;
    top: 86%;
  }

  .ig6 {
    position: absolute;
    background-image: url(./images/image-geometry_5.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 74%;
    height: 100px;
    left: -51%;
    top: 123.5%;
  }

  .ig4 {
    position: absolute;
    background-image: url(./images/image-geometry_3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 58%;
    right: 0;
    height: 200px;
  }

  .ig5 {
    position: absolute;
    background-image: url(./images/card-four.svg);
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    left: -45%;
    bottom: -263%;
  }

  .pj-2-div2 {
    background-image: url(./images/card-five.svg);
    background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
  }

  .pj-2-div {
    padding: 20px;
    background-color: #1a2236;
  }

  .work {
    display: none;
    visibility: hidden;
  }

  .about-me {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: 586px;
    left: -130px;
    padding: 0;
  }

  .about {
    width: 50%;
    margin-left: 0;
  }

  .about > p {
    width: 446px;
    height: 84px;
    left: 834px;
    top: 3214px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1a2236;
    margin-top: 15px;
  }

  hr {
    height: 800px;
  }

  .about-btn {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 70px;
    left: 834px;
    top: 3340px;
    background: #1a2236;
    margin-top: 42px;
  }

  .rectangle {
    display: grid;
    grid-template-columns: 289px 289px;
    grid-template-rows: 289px 289px;
    grid-gap: 0;
  }

  .languages,
  .framework,
  .skills {
    width: 289px;
    height: 289px;
    margin: 0;
  }

  .languages {
    background: #1c528a;
  }

  .framework {
    background: #febf52;
  }

  .skills {
    background: #e2505c;
  }

  #teal {
    padding-left: 69px;
    padding-top: 70px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    background-color: #f9f9fa;
    background-image:
      url(./images/image-geometry_6.svg),
      url(./images/image-geometry_7.svg);
    background-position: left top, right bottom;
    margin-top: 150px;
    justify-content: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 950px;
    padding-left: 100px;
    align-items: center;
  }

  .form-section h1 {
    text-align: center;
    margin-top: 168px;
    font-family: "Playfair Display", sans-serif;
    font-size: 110px;
    font-weight: 400;
    line-height: 110px;
    letter-spacing: 0;
    padding: 0;
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .form-section p {
    height: 63px;
    width: 544px;
    border-radius: nullpx;
    margin-top: 80px;
  }

  form {
    display: grid;
    grid-template-columns: 254px 254px;
    grid-template-rows: auto auto auto;
    width: 542px;
    margin-bottom: 135px;
  }

  .text-box {
    width: 254px;
    height: 60px;
    margin: 0 12px 0 0;
  }

  #email {
    margin-left: 19px;
  }

  textarea {
    width: 542px;
    margin-top: 40px;
  }

  #cbn-b {
    grid-area: 3 / 1 / 4 / 3;
    width: 254px;
    height: 70px;
    align-content: center;
    margin: 40px 26% 0% 26%;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 123px;
    left: 0;
    top: 4729px;
    background: #1a2236;
  }

  #getcv {
    width: 289px;
    margin-left: 70px;
    margin-top: 22px;
  }

  .socialicons {
    margin-top: 50px;
    margin-right: 70px;
  }

  .socialicons input {
    padding: 0;
    margin: 0;
  }
}
